// Variáveis globais do tema UENF Geral
$primary-color: #1d3771;
$text-color: #333;
$link-color: #1B366F;
$link-hover: #1d4b6e;
$font-family-base: 'Roboto', 'Open Sans', Arial, sans-serif;
$border-radius: 8px;
// Adicione outras variáveis conforme necessário